
  <header class="navbar">
    <div class="top-nav">
      <div class="left">
        <button class="hamburger" id="hamburgerBtn"><i class="fa-solid fa-bars"></i></button>
        <div class="logo"><img src="/images/logo.png" alt=""></div>
        <div class="brand">
          <h1 class="title">CALL INSIDE</h1>
          <span class="title">ART STUDIO</span>
        </div>
      </div>

      <div class="search">
        <input type="text" placeholder="SEARCH">
        <button><i class="fas fa-search"></i></button>
      </div>

      <div class="super">
        <a href="#"><span class="store">STORE</span></a>
        <a href="#" class="wish"><img src="images/draWish-icon.png" alt="" style="width: 20px;"> DRAWISH</a>
      </div>

      <div class="right">
        <a href="#">SIGN IN</a>
        <a href="#" class="signup">SIGN UP</a>
      </div>
    </div>

    <div class="content-header">
      <p>Exploring Graphic Design? <a href="#" style="text-decoration: none;"><span class="highlight"><img src="images/drawCreate-icon.png" alt="" style="width: 20px; margin-left: 20px;"> DrawCreate</span></a></p>
    </div>
  </header>

  
<!-- ✅ Sidebar -->
<nav id="sidebar" class="sidebar">
  <ul>
    <li><a href="/" class="active">
      <img src="/images/home-icon.png" alt="" style="width: 22px; margin-right: 10px;">
      Home</a></li>


    <!-- Dropdown Section -->
    <li class="dropdown">
      <button class="dropdown-btn">
        <img src="/images/draw.png" alt="" style="width: 22px; margin-right: 10px;">
        Draw
      </button>
      <ul class="dropdown-content">
        <li><a href="/draWish">
          <img src="/images/draWish-icon.png" alt="" style="width: 18px; margin-right: 10px;">
          DraWish</a></li>
        <li><a href="/drawCreate">
          <img src="/images/drawCreate-icon.png" alt="" style="width: 18px; margin-right: 10px;">
          DrawCreate</a></li>
      </ul>
    </li>

      <li><a href="/guild">
      <img src="/images/Guild-icon.png" alt="" style="width: 22px; margin-right: 10px;">
      Guild</a></li>
      <p>Come! Become a member of Call Inside Art Studio's top performing Guilds </p>

      <li class="sidebar-login-opt"><a href="/signin">Sign In</a></li>
      <li class="sidebar-login-opt"><a href="/signup" style="color: #FD705D;">Sign Up</a></li>
  </ul>
</nav>
